body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: lightblue;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  /* color: #555;  /\* Iam not sure how I feel about this change *\/ */

}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

a {
    color: #cc0000; /* #00B7FF; */ /* slight color change I think */
}
